<%
function getMarkerClasses(marker) {
    let classes = ''
    if (marker.position.class) {
        classes += ' ' + marker.position.class
    }

    if (!marker.content.text && !marker.content.caption && marker.content.images && marker.content.images.length) {
        classes += ' marker-pictures'
    }

    return classes
}
function getMarkerStyles(marker) {
    const styles = {
        '--top': marker.position.top,
        '--offset': marker.position.offset
    }
    if (marker.position.lineWidth) {
        styles['--line-width'] = marker.position.lineWidth
    }

    return Object.entries(styles).map(([prop, value]) => prop + ':' + value).join('; ')
}

function getContentClasses(marker) {
    if (marker.content.images && marker.content.images.length && !marker.content.text) {
        return ' ' + 'image-only'
    }

    return ''
}

function getImageStyles(image) {
    return Object.entries(image.placement)
            .map(([name, value]) => {
                let prop
                if (name === 'size') {
                    prop = '--size'
                } else if (name === 'sizeMd') {
                    prop = '--size-md'
                } else {
                    prop = name
                }
                return `${prop}: ${value}`;
            }).join(';');
}
%>

<div class="marker<%- getMarkerClasses(marker) %>"
     data-placement="<%= marker.position.placement %>"
     style="<%= getMarkerStyles(marker) %>">
    <div class="header">
        <span class="label"><%= marker.content.label %></span>

    </div>
    <div class="content<%- getContentClasses(marker) %>">
        <% if (marker.content.caption) { %>
            <span class="caption"><%= marker.content.caption %></span>
        <% } %>
        <% if (marker.content.text) { %>
            <p class="snippet"><%= marker.content.text %></p>
        <% } %>
        <% if (marker.content.images) { %>
            <div class="images">
                <% for (const image of marker.content.images) { %>
                    <img class="image" src="<%- image.variants.default.src %>" alt="<%- image.alt %>"
                         <% if(image.placement) { %> style="<%-getImageStyles(image)%>" <% } %>
                    />
                <% } %>
            </div>
        <% } %>
    </div>
</div>
