<div class="marker" data-placement="<%= marker.position.placement %>"
     style="--top: <%= marker.position.top %>; --offset: <%= marker.position.offset %>;">
    <div class="header">
        <span class="label"><%= marker.label %></span>
    </div>
    <div class="content">
        <span class="caption"><%= marker.caption %></span>
        <p class="snippet"><%= marker.content %></p>
    </div>
</div>
