<ul class="image-gallery">
    <% images.forEach((img) => { %>
    <li>
        <img src="<%= img.variants.small.src %>"
             alt="<%= img.caption %>"
             data-full="<%= img.variants.full && img.variants.full.src %>"
             width="<%= img.variants.small.width %>" height="<%= img.variants.small.height %>"
        >
    </li>
    <% }) %>
</ul>
